In [1]:
num1 = 10

In [4]:
num2 = 20

In [5]:
print(num1, num2)

10 20

In [6]:
num1 = 3.14

In [7]:
num2 = -2.718

In [8]:
print(num1, num2)

3.14 -2.718

In [13]:
str1 = 'Hello'

In [14]:
str2 = 'Python'

In [15]:
print(str1, str2)

Hello Python

In [16]:
str3 = """This is 
a multi-line
string"""

In [17]:
print(str3)

This is
a multi-line
string

In [19]:
print(str3[0:3])

Thi

In [21]:
print(str3[::2])

Ti s
 ut-iesrn

In [22]:
len(str3)

28

In [56]:
fruits1 = ['apple']
fruits2 = ['apple']

In [57]:
print(fruits1, fruits2)

['apple'] ['apple']

In [58]:
fruit = ['cherry']

In [59]:
fruits1.append(fruit)

In [60]:
fruits1.append('cherry')

In [61]:
print(fruits1)

['apple', ['cherry'], 'cherry']

In [64]:
fruits2.extend(fruit)

In [62]:
fruits2.extend(['cherry','date'])

In [65]:
print(fruits2)

['apple', 'cherry', 'date', 'cherry']

In [66]:
fruits1.insert(1,'banana')

In [67]:
fruits2.insert(1,'banana')

In [68]:
print(fruits1, fruits2)

['apple', 'banana', ['cherry'], 'cherry'] ['apple', 'banana', 'cherry', 'date', 'cherry']

In [70]:
print(str1.upper())

HELLO

In [71]:
print(str2.lower())

python

In [72]:
print(str3.find('-'))

16

In [75]:
print(str3.count('i'))

5

In [70]:
str3 = "Lorem Ipsum is simply dummy text of the printing and typesetting industry"

In [73]:
alphabet = []
flag = True

In [74]:
# 배열 반복을 위해 초기값 설정
alphabet += str3[0]
# 초기값 중복 방지를 위해 시작 인덱스를 1로 설정
for i in range(1,len(str3)):
    for j in alphabet:
        if(j == str3[i]):
            flag = False
    if(flag):
        alphabet += str3[i]
    # 플래그 초기화 
    flag = True
for i in alphabet:
    print(i + "는 " + str(str3.count(i)) + "개")

L는 1개
o는 2개
r는 3개
e는 5개
m는 5개
 는 11개
I는 1개
p는 4개
s는 5개
u는 3개
i는 6개
l는 1개
y는 4개
d는 3개
t는 8개
x는 1개
f는 1개
h는 1개
n는 5개
g는 2개
a는 1개
.는 1개

In [138]:
print(f"{str1}, I learn {str2}")

Hello, I learn Python

In [150]:
numbers = [9,5,4,3]

In [152]:
new_numbers = numbers.copy()

In [155]:
new_numbers

[9, 5, 4, 3]

In [154]:
numbers.append(1)

In [156]:
numbers

[9, 5, 4, 3, 1]

In [158]:
person = {"name":"Bob","age":30,"city":"New York"}

In [162]:
print(f"Hello my name is {person["name"]} and I'm {person["age"]} years old, I'm live in {person["city"]}")

Hello my name is Bob and I'm 30 years old, I'm live in New York

In [164]:
print(person.keys())

dict_keys(['name', 'age', 'city'])

In [166]:
print(person.values())

dict_values(['Bob', 30, 'New York'])

In [249]:
a = [1,9,5,3,7,2,4]

In [250]:
temp = 0
for j in a:    
    for i in range(len(a) - 1):
        if(a[i] > a[i+1]):
            temp = a[i]
            a[i] = a[i+1]
            a[i+1] = temp
print(a)

[1, 2, 3, 4, 5, 7, 9]

In [8]:
A,B,C = map(int, input().split())
print((A+B)%C)
print(((A%C)+(B%C))%C)
print((A*B)%C)
print(((A%C)*(B%C))%C)

1
1
0
0

In [16]:
a= 'oxoxoxox'
a.replace('ox','*',4)

'****'

In [41]:
A = 472
B = 385
print(int(A*int(B % 10)))
print(int(A*int(B % 100 / 10)))
print(int(A*int(B % 1000 / 100)))
print(A*int(B % 10) + A*int(B % 100 / 10)*10 + A*int(B % 1000 / 100)*100)

2360
3776
1416
181720

In [29]:
score = 85
if score >= 90:
    print("A학점")
elif score >= 85:
    print("B학점")
else:
    print("C학점")

B학점

In [31]:
number = 5
if number % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [42]:
x, y = 10, 20
if x > 5 and y < 30:
    print("조건을 만족합니다.")

조건을 만족합니다.

In [47]:
items = ['A','B','C']
for idx, item in enumerate(items):
    print(idx, item)

0 A
1 B
2 C

In [46]:
for i in range(1,4):
    for j in range(1, 3):
        print(f"i:{i}, j;{j}")

i:1, j;1
i:1, j;2
i:2, j;1
i:2, j;2
i:3, j;1
i:3, j;2

In [53]:
x = 0
while x < 5:
    print(f"x = {x}")
    x+= 1

x = 0
x = 1
x = 2
x = 3
x = 4

In [55]:
while True:
    user_input = input('종료하려면 exit를 입력하세요.')
    if user_input == 'exit':
        break

In [61]:
n = 0
while n < 10:
    n += 1
    if(n % 2 == 0):
        continue
    print(n)
    if(n == 7):
        break

1
3
5
7

In [69]:
while True:
    user_score = int(input('점수를 입력해주세요.'))
    if user_score > 100 or user_score < 0:
        print("잘못된 점수입니다.")
    else:
        break       
if user_score >= 90:
    print(f"점수 : {user_score}, 학점 : A")
elif user_score >= 80:
    print(f"점수 : {user_score}, 학점 : B")
elif user_score >= 70:
    print(f"점수 : {user_score}, 학점 : C")
elif user_score >= 60:
    print(f"점수 : {user_score}, 학점 : D")
else:
    print(f"점수 : {user_score}, 학점 : F")

잘못된 점수입니다.
잘못된 점수입니다.
점수 : 39, 학점 : F